<!DOCTYPE html> 
<html>
    <head>
        <title> Login </title>
    </head>
    <body>
        <div align='center'>
            <div align='center'>
                <div>
                    <h1> Login </h1>  
                </div>
                <h2>
                    <form action='{{ url_for('login_page') }}' method = 'post'>
                        <div class='msg'>{{ msg }}</div>
                        <input id='username' name='username' type='text' />
                        <input id='password' name='password' type='text' />
                        <input type='submit' value='Login'>
                    </form>
                </h2>
            </div>
        </div>
    </body>
</html>