{% extends "main.html" %}

{% block page_name %}
<title> Login </title>
{% endblock %}

{% block content %}
<div align='center'>
    <div align='center'>
        <div>
            <h1> Login </h1>  
        </div>
        <h2>
            <form action='{{ url_for('login_page') }}' method = 'post'>
                <div class='msg'>{{ msg }}</div>
                <p> Username: </p>
                <input id='username' name='username' type='text' />
                <p> Password: </p>
                <input id='password' name='password' type='text' /><br>
                <input type='submit' value='Login'>
            </form>
        </h2>
    </div>
</div>
{% endblock %}