<!DOCTYPE html>
<html>

<head>
    <head>
        <title>Wiki Music Museum</title>
        {% block navigation %}
        
        <a href = "/">Home</a> <a href = "/pages">Pages</a> <a href= "/about">About</a> |
        <a href = "/login">Login</a> <a href = "/signup">Sign Up</a>
        
        {% endblock %}
        <h1>Wiki Music Museum</h1>

        {% block page_name%}{% endblock %}
    </head>
</head>

<body>
    {% block content %}
    <div>       
        Welcome to Bitune Music Museum
    </div>
    {% endblock %}
</body>

</html>