<!DOCTYPE html>
<html>

<head>
    <head>
        <!-- TODO(Checkpoint Requirement 3): Change the title and content of your wiki.-->
        <title>Wiki Viewer</title>
    </head>
</head>

<body>
    <!-- TODO(Project 1): Implement routes. -->
    <nav>
        <div class='topnav'>
            <a class='active' href='#main'>Home</a>
            <a href='#pages'>Pages</a>
            <a href='#about'>About</a>
            <a href='#login'>Login</a>
            <a href='#signup'>Sign Up</a>
        </div>
    </nav>
    <div>       
        <!-- TODO(Checkpoint Requirement 3): Change the title and content of your wiki.-->
        Hello Hello Hello Hello
    </div>
</body>

</html>