<!DOCTYPE html>
<html>

<head>
    <head>
        <title>Wiki Music Museum</title>
        
        <div align = 'center'>
            <h1>Cowboy Bebop (Original Motion Picture Soundtrack)</h1>
        </div>

        
    </head>
</head>

<body>
    
    <div align = 'center'>       
        Album
        Artist: The Seatbelts
        Release Date: 5/21/1998

        About: The original sountrack for the
               cowboy bebop series also has a 
               western tinge but it is mostly known
               for its big band jazz tunes that give
               the noir space western its life.
    
</body>

</html>