<!DOCTYPE html>
<html>

<head>
    <head>
        <title>Wiki Music Museum</title>
        
        <div align = 'center'>
            <h1>Decide</h1>
        </div>

        
    </head>
</head>

<body>
    
    <div align = 'center'>       
        Album
        Artist: Djo
        Release Date: 9/16/2022

        About: Decide is an 80s synth pop
               alternative album and the
               second record of artist djo.
               The album uses more unconventional
               80s trends and themes touch
               on the invasion and control of
               modern day technology on our lives.
    </div>
    
</body>

</html>