<!DOCTYPE html>
<html>

<head>
    <head>
        <title>Wiki Music Museum</title>
        
        <div align = 'center'>
            <h1>The Age of The Understatement</h1>
        </div>

        
    </head>
</head>

<body>
    
    <div align = 'center'>       
        Album
        Artist: The Last Shadow Puppets
        Release Date: 4/15/2008

        About: The Age of the Understatement is
               a galloping western rock and alternative
               album featuring heavy inspiration 
               from Ennio Morricone's the Good the
               Bad and the Ugly soundtrack. It is
               the first lp released by the last 
               shadow puppets.
    </div>
    
</body>

</html>